<% content_for :title, "New deposit" %>

<h1>Novo Deposito</h1>

<%= render "form", deposit: @deposit %>

<div>
   <%= link_to "Extrato", statement_statement_path, class:"btn btn-secondary mt-3" %>
</div>
